.errormessage {
  color: red;
}

.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  background-color: #9ec1a3;
  height: 100px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar .nav-links {
  list-style-type: none;
  display: flex;
  margin-top: 40px;
  float: right;
}

.navbar .nav-links li {
  padding: 0px 20px;
}

.navbar .nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
}

.logo-text {
  height: 39px;
  left: 10%;
  position: absolute;
  top: 25px;
  width: 74px;
}

.overlap-group {
  height: 39px;
  position: relative;
  width: 70px;
}

.text-wrapper-5 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.text-wrapper-6 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home-page .image {
  height: 253px;
  left: 446px;
  object-fit: cover;
  position: absolute;
  top: 235px;
  width: 250px;
}

.home-page .img {
  height: 479px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 479px;
}

.home-page .side-food-pictures {
  height: 636px;
  left: 135px;
  position: absolute;
  top: 0;
  width: 1204px;
}

.home-page .overlap-group-2 {
  height: 116px;
  left: 0;
  position: absolute;
  top: 0;
  width: 242px;
}

.home-page .text-wrapper-10 {
  color: #000000;
  font-family: "Over the Rainbow", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  transform: rotate(-8.4deg);
}

.home-page .image-2 {
  height: 58px;
  left: 145px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 59px;
}

.home-page .overlap-2 {
  height: 181px;
  left: 976px;
  position: absolute;
  top: 455px;
  width: 222px;
}

.home-page .text-wrapper-11 {
  color: #000000;
  font-family: "Over the Rainbow", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  transform: rotate(17.33deg);
}

.home-page .text-wrapper-12 {
  color: #000000;
  font-family: "Over the Rainbow", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 74px;
  transform: rotate(17.33deg);
}

.home-page .image-3 {
  height: 35px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  width: 49px;
}

.home-page .overlap-3 {
  background-color: #cfe0c3;
  height: 496px;
  position: relative;
  width: 100%;
}

.home-page .text-wrapper-13 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 40px;
  font-weight: 900;
  left: 13.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
}

.home-page .overlap-6 {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  top: 1000px;
  padding: 10px;
  min-width: 850px;
  max-width: 1000px;
}

.home-page .overlap-6 .text-blurb{
  word-wrap: break-word;
}

.home-page .overlap-6 img{
  width: 400px;
  height: 400px;
}

.home-page .paragraph-title {
  color: #70a9a1;
  font-family: "Outfit", Helvetica;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}

.home-page .paragraph-text {
  color: #7a7a7a;
  font-family: "Outfit", Helvetica;
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

.home-page .button {
  all: unset;
  box-sizing: border-box;
  height: 43px;
  left: 0;
  position: absolute;
  width: 168px;
}

.home-page .div-wrapper {
  background-color: #70a9a1;
  border-radius: 100px;
  height: 43px;
  width: 166px;
}

.home-page .overlap-group-wrapper {
  all: unset;
  box-sizing: border-box;
  height: 43px;
  position: absolute;
  width: 168px;
  right: 0px;
}

.home-page .text-wrapper-25 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  text-decoration: none;
}

.home-page .text-wrapper-26 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  text-decoration: none;
}

.home-page .overlap-group-4 {
  background-color: #70a9a1;
  border-radius: 100px;
  height: 43px;
  position: relative;
  width: 122px;
}

.home-page .text-wrapper-27 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 59px;
  text-decoration: none;
}

.home-page .text-wrapper-28 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 878px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 167px;
}

.home-page .text-wrapper-29 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 747px;
}

.home-page .text-wrapper-30 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 828px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1368px;
  width: 117px;
}

.home-page .image-5 {
  height: 400px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 582px;
  width: 400px;
}

.home-page .image-6 {
  height: 399px;
  left: 668px;
  position: absolute;
  top: 1200px;
  width: 400px;
}


.login-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
}

.login-page .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 100%;
}

.login-page .overlap {
  background-color: #efefef;
  height: 100%;
  max-height: 486px;
  position: relative;
  width: 100%;
  max-width: 806px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
}

.login-page .overlap-2 {
  background-color: #cfe0c3;
  height: 486px;
  left: 530px;
  position: absolute;
  width: 276px;
}

.login-page .text-wrapper-7 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 143px;
}

.login-page .sign-up-and-unlock {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 80px;
  letter-spacing: 0;
  line-height: 15.2px;
  position: absolute;
  text-align: center;
  top: 180px;
}

.login-page .div-wrapper {
  background-color: #70a9a1;
  border-radius: 100px;
  height: 26px;
  left: 96px;
  position: absolute;
  top: 256px;
  width: 83px;
}

.login-page .text-wrapper-8 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 17px;
  letter-spacing: 0;
  line-height: 15.2px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
}

.login-page .text-wrapper-9 {
  color: #70a9a1;
  font-family: "Outfit", Helvetica;
  font-size: 36px;
  font-weight: 600;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 150px;
}

.login-page .overlap-3 {
  background-color: #d9d9d9;
  border-radius: 100px;
  height: 29px;
  left: 44px;
  position: absolute;
  top: 200px;
  width: 239px;
}

.login-page .text-wrapper-10 {
  color: #9b9b9b;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 11px;
  letter-spacing: 0;
  line-height: 15.2px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
}

.login-page .overlap-4 {
  background-color: #d9d9d9;
  border-radius: 100px;
  height: 29px;
  left: 44px;
  position: absolute;
  top: 240px;
  width: 239px;
}

.login-page .overlap-5 {
  background-color: #d9d9d9;
  border-radius: 100px;
  height: 29px;
  left: 44px;
  position: absolute;
  top: 280px;
  width: 239px;
}

.hero-image {
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}

.text-block {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.title-text {
  font-size: 88px;
  font-family: "Outfit", Helvetica;
  font-weight: 800;
  color: #70a9a1;
}

.main-text {
  color: #7a7a7a;
  font-family: "Outfit", Helvetica;
  font-size: 32px;
  font-weight: 400;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about .name-text {
  color: #70a9a1;
  font-family: "Outfit", Helvetica;
  font-size: 64px;
  font-weight: 600;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
